# Distributed under the terms of the GNU General Public License v2

EAPI=7

{%- if python_compat is defined %}
PYTHON_COMPAT=( {{python_compat}} )
{%- endif %}

{%- if inherit is defined %}
inherit linux-info flag-o-matic {{inherit}}
{%- else %}
inherit linux-info flag-o-matic
{%- endif %}

{%- if meson %}
inherit meson
{%- else %}
inherit autotools
{%- endif %}

DESCRIPTION="Driver for xorg-server"
KEYWORDS="*"
IUSE="{{iuse}} {% if iuse_dri is defined and iuse_dri != 'force' %}{{iuse_dri}}{%- endif %}"
SRC_URI="{{artifacts[0].src_uri}}"
SLOT="0"
S="$WORKDIR/${PN}-{% if tag_name is defined %}{{tag_name}}-${PV}{%- else %}${P}{%- endif %}"
{%- if patches %}
PATCHES=(
{%- for patch in patches %}
	"$FILESDIR"/{{ patch }}
{%- endfor %}
)
{%- endif %}
DEPEND="
	{%- if kernel_config is defined %}
	sys-kernel/linux-headers
    {%- endif %}
	x11-base/xorg-proto
	x11-base/xorg-server
	{%- if meson %}
	dev-util/meson
	dev-util/ninja
	{%- else %}
	>=sys-devel/libtool-2.2.6a
	sys-devel/m4
	{%- endif %}
	>=x11-misc/util-macros-1.18
	{%- if iuse_dri == 'force' %}
	x11-base/xorg-server[-minimal]
	x11-libs/libdrm
	{%- elif iuse_dri is defined %}
	{{iuse_dri}}? ( x11-base/xorg-server[-minimal] x11-libs/libdrm )
	{%- endif %}
	{%- if depend is defined %}
	{{depend}}
	{%- endif %}
"

RDEPEND="
	${DEPEND}
	{%- if name.startswith('xf86-video') %}
	x11-libs/libpciaccess
	{%- endif %}
	{{rdepend}}
"

{%- if meson %}
MESON_AQA="enabled"
{%- else %}
WANT_AUTOCONF="latest"
WANT_AUTOMAKE="latest"
AUTOTOOLS_AUTORECONF="1"
{%- endif %}

pkg_setup() {
	{%- if inherit is defined and 'python-single-r1' in inherit %}
	python-single-r1_pkg_setup
	{%- endif %}
	append-ldflags -Wl,-z,lazy
}

src_prepare() {
{%- if meson %}
	# Handling Meson specific prepare steps
	default
	{
		:
	} || die
{%- else %}
	eautoreconf || die
	default
{%- endif %}
}

{%- if meson %}
src_configure() {
	meson_src_configure
}
{%- else %}
	{%- if config_options is defined %}
src_configure() {
	XORG_CONFIGURE_OPTIONS=(
		{{config_options}}
	)
	econf ${XORG_CONFIGURE_OPTIONS[@]} || die
}
	{%- endif %}
{%- endif %}

{%- if kernel_config is defined %}
pkg_pretend() {
	CONFIG_CHECK="{%- for opt in kernel_config %}{{opt}} {% endfor %}"
	check_extra_config
}

pkg_postinst() {
	CONFIG_CHECK="{%- for opt in kernel_config %}{{opt}} {% endfor %}"
	check_extra_config
}
{%- endif %}

src_install() {
{%- if meson %}
	meson_src_install
{%- else %}
	default
	find "${D}" -type f -name '*.la' -delete || die
{%- endif %}
{%- if src_install is defined %}
{%- for line in src_install.split('\n') %}
	{%- set indent_level = (line|length - line.lstrip(" ")|length) // 2 %}
	{%- set newline = "\t" * ( indent_level + 1 ) + line[indent_level*2:] %}
{{newline}}{%- endfor %}{%- endif %}
}