# Distributed under the terms of the GNU General Public License v2

EAPI=5
inherit eutils libtool

DESCRIPTION="{{desc}}"
HOMEPAGE="{{homepage}}"
SRC_URI="{{src_uri}}"
LICENSE="{{license}}"

SLOT="0"
KEYWORDS="*"
IUSE="nls static-libs"

RDEPEND="nls? ( >=virtual/libintl-0-r1 )"
DEPEND="nls? ( sys-devel/gettext )"

S="${WORKDIR}/{{github_user}}-{{github_repo}}-{{sha[:7]}}"

src_prepare() {
    default
	elibtoolize
}

src_configure() {
    ./autogen.sh
	ECONF_SOURCE=${S} \
	econf \
		--disable-dependency-tracking \
		$(use_enable static-libs static) \
		$(use_enable nls)
}

src_install() {
    default
	dodoc README
	prune_libtool_files --all
}
